.account {
    z-index: 3;

    @media (max-width: $mobile) {
        bottom: -100vh;
        width: 100vw;
        left: 0;
        position: fixed;
    }

    @media (min-width: $mobile) {
        top: -85vh;
        width: 30vw;
        right: 0;
        position: absolute;

        & section .close {
            display: none;
        }
    }

    background-color: $white;
    bottom: 0;
    height: 85vh;
    transition: all 0.5s;
    overflow: hidden;

    & > div {
        position: absolute;
        left: 0vw;
        top: 0vh;
        height: 100%;
        width: 100%;
    }

    & section {
        transition: all 0.5s;
        height: 100%;
        width: 100%;
        position: absolute;

        & div:nth-child(1) {
            margin-top: 4vh;
        } 

        & div:nth-child(2) {
            margin: 4vh;
        }
        
        & .close {
            width: 30px;
            margin-right: 10px;
        }
            
        & img {
            width: 20px;
            margin-right: 10px;
        }

        & input {
            border: none;
            background-color: none;
            border-radius: 50px;
            width: 100%;

            &#stay_connected {
                width: fit-content;
            }
        }

        & a {
            color: $black;
            font-size: 0.7rem;
        }

        & #forgot-password {
            margin-bottom: 4vh;
        }

        & form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            & div {
                display: flex;
                justify-content: center;
                padding: 5px;
                margin:  0 4vh;

                &.input{
                    border: 1px solid $black;
                    border-radius: 50px;
                    justify-content: left;
                    margin: 1vh 0;
                    padding-left: 20px;
                    margin-left: 20px;
                    margin-right: 20px;
                }
                &.delimiter {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    margin: 0;

                    & span {
                        width: 100%;
                        margin: 5vh 10px;
                        border-bottom: 1px solid $black;
                    }
                }
            }
        }
    }
}
