.article-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    article {
        margin-top: 2em;
    }
}
section.banner {
    background-image: url('../src/assets/images/Photo_fond_accueuil_1.png');
    background-repeat: no-repeat;
    background-color: $dark-grey;
    background-position: 50% 0;
    background-size: cover;
    height: 100vh;
    color: $white;
    .container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .fade {
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 80%, rgba(0, 0, 0, 0) 100%);
    }
    h1 {
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: auto;
        margin-top: 7vh;
        font-family: $font-montserrat;
        font-weight: 500;
        font-size: 2rem;
        line-height: 150%;
        & > span {
            width: fit-content;
            white-space: nowrap;
            border-bottom: 1px solid currentColor;
        }
        & >span:nth-child(1){
            font-weight: 300;
            span {
                position: relative;
                left: 1em;
                margin-right: -30vw;
            }
        }
        & > span:nth-child(2) {
            align-self: flex-end;
            span {
                margin-left: -30vw;
                position: relative;
                right: 1em;
            }
        }
    }
    .button.decouvrir {
        margin-bottom: 15vh;
    }
}
.about-us {
    height: auto;
    .container {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

}
.highlight {
    height: auto;
    min-height: 100vh;
    #carrousel {
        padding: 1em 0;
    }
}
.contact {
    text-align: center;
    .secondaryTitle {
        margin-bottom: 2rem;
    }
    .container {
        padding-left: 1em;
        padding-right: 1em;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        height: 100%;
    }
    &-infos {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .icon {
        width: 36px;
        height: 36px;
        display: block;
        margin: 0 auto 1em;
        background-repeat: no-repeat;
        background-size: cover;
        &--map {
            background-image: url("../src/assets/images/svg/map-pin.svg");
        }
        &--calendar{
            background-image: url("../src/assets/images/svg/calendrier.svg");
        }
        &--phone{
            background-image: url("../src/assets/images/svg/phone.svg");
        }
        &--email{
            background-image: url("../src/assets/images/svg/email.svg");
        }
    }
}
@media (max-width: $mobile) {
    
}

@media (min-width: $mobile) {
    section.banner {
        h1 {
            max-width: 530px;
            width: 45vw;
            margin-top: 20vh;
            line-height: 130%;
            & >span:nth-child(1){
                span {
                    margin-right: -5vw;
                }
            }
            & >span:nth-child(2){
                span {
                    margin-left: -5vw;
                }
            }
        }
        .button.decouvrir {
            margin-bottom: 25vh;
        }
    }
    .about-us {
        min-height: 100vh;
        .article-container {
            flex-direction: row;
            flex: 1;
            article {
                flex: 1;
            }
        }
    }
    .contact {
        &-infos{
            flex-direction: row;
            flex: 1;
            flex-wrap: wrap;
            justify-content: space-evenly;
            div {
                flex-shrink: 0;
                width: 40vw;
            }
        }
    }
}