.account {
    @media (max-width: $mobile) {
        background-color: $white;
        position: fixed;
        left: 0;
        width: 100vw;
        height: 85vh;
        transition: all 0.5s;

        & div:nth-child(1) {
            margin-top: 4vh;
        }

        & div:nth-child(2) {
            margin: 4vh;
        }

        & input {
            border: none;
            background-color: none;
            border-radius: 50px;
            width: 100%;

            &#stay_connected {
                width: fit-content;
            }
        }
        
        & img {
            width: 30px;
            margin-right: 10px;
        }

        & a {
            color: $black;
            font-size: 0.7rem;
        }

        & #forgot-password {
            margin-bottom: 4vh;
        }

        & form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            & div {
                display: flex;
                justify-content: center;
                padding: 5px;
                margin:  0 4vh;

                &.input{
                    border: 1px solid $black;
                    border-radius: 50px;
                    justify-content: left;
                    margin: 1vh 0;
                    padding-left: 20px;
                    margin-left: 20px;
                    margin-right: 20px;
                }
                &.delimiter {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    margin: 0;

                    & span {
                        width: 100%;
                        margin: 5vh 10px;
                        border-bottom: 1px solid $black;
                    }
                }
            }
        }
    }
}

.account-close {
    bottom: -100vh;
    opacity: 0;
}

.account-open {
    bottom: 0;
    opacity: 1;
}

.login-hide {
    left: -100vw;
}

.inscription-hide {
    left: 100vw;
}

.account-show {
    left: 0;
}
