.button {
    display: inline-block;
    background-color: transparent;
    text-decoration: none;
    padding: 1rem 2rem;
    color: $black;
    font-size: rem(16);
    border: 1px $black solid;
    border-radius: 50px;
    transition: all 0.5s;
    width: fit-content;
    margin: 0;

    &:hover, &--hover {
        cursor: pointer;
        background-color: rgba($color: $white, $alpha: 0.2);
    }

    &--white {
        border: 1px $white solid;
        color: $white;
    }
}