.sectionEncadre{
    padding: 2em 0;
    flex-direction: row;
    width: 100%;
    position: relative;
    text-align: justify;
    .croix {
        position: absolute;
        background-size: 100px 100px;
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
        &--haut {
            height: 70px;
            width: 70px;
            background-size: 70px 70px;
            top: -1.5em;
            left: -1.5em;
            background-image: url("../src/assets/images/croix-haut.svg");
        }

        &--bas {
            bottom: -1.5em;
            right: -1.5em;
            background-image: url("../src/assets/images/croix-bas.svg");
        }
    }
    .divEncadreContent{
        position: relative;
        width: 85%;
        margin: auto;
    }
}