section#dropdownMenu {
    padding : 0.5em 0.5em 1em 0.5em;
    align-items: flex-start;
    width: 100%;
}
.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    width: 100%;
    h2 {
        font-weight: 200;
        font-size: 1.25rem;
    }
    .dropdownButton {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-transform: uppercase;
        background: $white;
        border: 1px solid currentColor;
        border-radius: 20em;
        padding: 1em;
        height: 4rem;
        text-align: left;
        &::after {
            content: "";
            width: 6px;
            height: 6px;
            border-width: 0 3px 3px 0;
            border-style: solid;
            transform: rotate(45deg);
            transition: 0.4s;
        }
        &.toggle {
            border-width: 1px 1px 0 1px;
            border-radius: 2.5em 2.5em 0 0;
        }
        &.toggle::after {
            transform: rotate(225deg);
        }
        &.toggle + .dropdownList {
            height: fit-content;
            border: 1px solid currentColor;
            border-top: 0;
        }
        &.toggle + .dropdownList li {
            height: 100%;
            padding: 10px;
        }
    }
    .dropdownList {
        position: absolute;
        top: 100%;
        padding: 0;
        z-index: 10;
        background-color: $white;
        width: 100%;
        margin: 0;
        border-radius: 0 0 20px 20px;
        height: 0;
        overflow: hidden;
        transition: border 1s ease-out;
        &.toggle {
            top: -2rem;
            padding: 2rem 0 1rem 0;
            height: 100%;
            border: 1px solid currentColor;
        }
        & li {
            height: 0;
            &:hover, &.hover {
                background-color: darken($color: $white, $amount: 10%)
            }
        }
    }
}
@media screen and (min-width: 800px) {
    section#dropdownMenu {
        flex-direction: row;
        justify-content: space-around;
    }
    .dropdown {
       width: 30%;
    }
}