footer {
    font-family: $font-montserrat;
    font-weight: 300;
    @media (min-width: $mobile) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: $white;
        width: 100%;
        height: 60vh;
        padding: 0 1rem 1rem 1rem;
        position: relative;
        bottom: 0;

        & > :nth-child(2) {
            line-height: 2em;
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
            text-transform: uppercase;
            
            & img {
                height: 20px;
            }

            & > :nth-child(n) {
                line-height: 2em;
                display: flex;
                flex-direction: row;
                width: 50%;
                justify-content: space-around;
                text-transform: uppercase;
                
                & img {
                    height: 20px;
                }
            }
        }

        & > :nth-child(3) {
            color: $grey;
        }

        & form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            width: 100%;

            & input[type="image"] {
                height: 2rem;
            }

            & input[type="email"] {
                border: none;
                border-bottom: 1px solid $black;
                width: max-content;
            }

            & input[type="email"]::placeholder {
                font-size: 1rem;
                font-family: $font-poppins;
            }
        }
    }
    
    @media (max-width: $mobile) {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: $white;
        width: 100%;
        height: 80vh;
        padding: 1rem 1rem 50px 1rem;
        position: relative;
        bottom: 0;
        
        & > :nth-child(2) {
            line-height: 2em;
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
            text-transform: uppercase;
            
            & img {
                height: 20px;
            }

            & > :nth-child(n) {
                line-height: 2em;
                display: flex;
                width: 100%;
                justify-content: space-between;
                text-transform: uppercase;
            }

            & > :nth-child(1) {
                flex-direction: column;
                margin-bottom: 5vh;
            }

            & > :nth-child(2) {
                flex-direction: row;
                font-size: 0.8em;
            }
        }

        & > :nth-child(3) {
            color: $grey;
        }

        & form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            width: 100%;
            margin-bottom: 5vh;

            & input[type="image"] {
                height: 2rem;
            }

            & input[type="email"] {
                border: none;
                border-bottom: 1px solid $black;
                width: 100%;
            }

            & input[type="email"]::placeholder {
                font-size: 1rem;
                font-family: $font-poppins;
            }
        }
    }
}
