.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    font-family: $font-montserrat;
    font-weight: 300;
    color: $white;
    font-size: 1.4rem;
}