nav {
    @media (max-width: 400px) {
        bottom: 0;
        position: fixed;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-between;
        backdrop-filter: blur(3px);
        background-color: rgba($color: $white, $alpha: 0.2);
    }
    
    & img{
        width: 25px;
        margin: 5px 25px ;
    }
}
