//slider carousel
#carrousel{
    width: auto;
    height: 100vh;
    //border:solid 2px white;
    position: relative;
    overflow: hidden;

    &:hover{
        .bouton{
            opacity: 0.4;
        }
    }
    .container {
        position: relative;
    }
    #container{
        width: 100%;
        height: auto;
        white-space: nowrap;
        .photo{
            //min-height: 400px;
            position: relative;
            background-position: center;
            margin: 0;
            display: inline-block;
            background-size: cover;
        }
    }

    .bouton{
        position: absolute;
        width: 70px;
        cursor: pointer;
        top: 37%;
        transform: translateY(-50%);
        margin: 10px;
        opacity: 0;
    }
    #leftBtn{
        left: 0;
        transform: rotate(180deg); 
        transition: all 0.3s ease; 
        &:hover{
            transform: rotate(180deg) scale(1.1);
            opacity: 1;
            transition: all 0.3s ease; 
        }
    }
    #rightBtn{
        right: 0;
        transform: rotate(0deg);
        transition: all 0.3s ease;
        &:hover{
            transform: rotate(0deg) scale(1.1);
            opacity: 1;
            transition: all 0.3s ease; 
        }
    }
}
@media (max-width: $mobile) {
    #carrousel {
        .bouton{
            display: none;
        }
    }
    #container {
        max-width: 80%;
        //max-height: 300px;
        height: auto; 
    }
    .photo {
        height: 100vh !important;
    }
}
@media (min-width: $mobile) {
    #carrousel {
        & .photo {
            .sliderCaption {
                transition: opacity 0.3s ease;
                opacity: 0;
                
            }
            &:hover {
                .sliderCaption{
                    opacity: 100%;
                }
            }
        }
    }
}
