section.banner{
    background-image: none !important;
}
.fade_page_biens{
    width: 100%;
    background: rgba(0, 0, 0, 0.5); 
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 22%;
    h1{
        margin-left: 10% !important;
    }
}
#description_du_biens{
    height: auto;
}

.caracteristique_bien{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .logo_caractéristique{
        height: 20px;
    }
    li{
        display: flex;
        align-items: baseline;
        width: auto;
        p{
            padding-left: 15%;
            white-space: nowrap;
        }
    }
    
}

@media (max-width: $mobile) {
    .fade_page_biens{
        h1{
            margin-left: 4% !important;
        }
    }
    #description_du_biens {
        .container{
            flex-direction: column;
        }
    }
    .caracteristique_bien{
        flex-direction: column;
        justify-content: baseline;
        
        div:nth-child(2) {
            margin-top: -9%;
        }

    }
}