section.banner.slider{
    background-image: none;
    #carrousel {
        #container {
            .photo {
                height: 100vh!important;
                .sliderCaption {
                    display: none;
                }
            }
        }
    }
}
.caracteristique_bien{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .logo_caractéristique{
        height: 20px;
        width: 20px;
    }
    ul {
        padding: 0;
    }
    li{
        display: flex;
        align-items: center;
        width: auto;
        p{
            padding-left: 15%;
            white-space: nowrap;
        }
    }
    
}
@media (max-width: $mobile) {
    #description_du_biens {
        .container{
            flex-direction: column;
        }
    }
    .caracteristique_bien{
        flex-direction: column;
        div {
            width: 60vw;
            margin: auto;
        }
        
        div:nth-child(2) {
            margin-top: -9%;
        }
    } 
}