.rdv {
    z-index: 5;
    border: 1px solid $grey;

    @media (max-width: $mobile) {
        bottom: -100vh;
        width: 100vw;
        left: 0;
        position: fixed;
    }

    @media (min-width: $mobile) {
        top: -85vh;
        width: 30vw;
        right: 0;
        position: fixed;

        & .close {
            display: none;
        }
    }
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    height: 85vh;
    transition: all 0.5s;
    overflow: hidden;

    & .secondaryTitle {
        left: 0px;
    }

    & > div:nth-child(2) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6vh;
        margin-bottom: 4vh;
    }

    & > div:nth-child(3) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding-left: 10vw;
    }

    & > :nth-child(n) {
        margin-top: 4vh;
    }

    & a:nth-child(n) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        padding: 1vh 2vh;
    }

    & .close {
        width: 30px;
    }

    & input[type="text"] {
        border: none;
        border: 1px solid $black;
        border-radius: 20px;
        width: 80%;
        padding: 10px;
    }

    & input[type="text"]::placeholder {
        font-size: 1rem;
        font-family: $font-poppins;
    }

    & input[name="message"]::placeholder {
        position: fixed;
        top: 10px;

        @media (max-width: $mobile) {
            position: relative;
        }
    }

    & input[name="message"] {
        height: 30vh;
    }

    & .button {
        margin-bottom: 4vh;
    }
}
