.search {
    @media (min-width: $mobile) {
        display: none;
    }
    
    z-index: 3;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: -100vh;
    width: 100vw;
    left: 0;
    position: fixed;
    background-color: $white;
    height: 85vh;
    transition: all 0.5s;
    overflow: hidden;

    & .secondaryTitle {
        left: 0px;
    }

    & > div:nth-child(2) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6vh;
        margin-bottom: 4vh;
    }

    & > div:nth-child(3) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding-left: 10vw;
    }

    & > :nth-child(n) {
        margin-top: 4vh;
    }

    & a:nth-child(n) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        padding: 1vh 2vh;
    }

    & .close {
        width: 30px;
    }

    & input[type="email"] {
        border: none;
        border-bottom: 1px solid $black;
        width: 80%;
    }

    & input[type="email"]::placeholder {
        font-size: 1rem;
        font-family: $font-poppins;
    }
}
