.secondaryTitle {
    border-bottom: 1px solid $black;
    transform: translateX(25%);

    & > h2 {
        margin-bottom: 0;
        font-weight: normal;
        position: relative;
        left: -35%;  
        text-transform: uppercase;
    }
}