.secondaryTitle {
    border-bottom: 1px solid $black;
    transform: translateX(25%);
    font-size: 0.8rem;

    & > h2 {
        margin: 0;
        font-weight: normal;
        position: relative;
        left: -35%;  
        text-transform: uppercase;
    }
}