.secondaryTitle {
    border-bottom: 1px solid currentColor;
    transform: translateX(35%);
    font-size: 0.8rem;
    width: fit-content;
    margin: 0 auto 1em;
    & > h2 {
        margin: 0;
        font-weight: normal;
        position: relative;
        left: -35%;  
        text-transform: uppercase;
    }
}