@function rem($value) {
    $base: 16;
    @return calc($value/$base) * 1rem;
}

@mixin cover-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}