* {
    box-sizing: border-box;
    font-family: $font-poppins;
}

body {
    background-color: $green;
    height: 2000px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}