@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,900;1,200;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&family=Montserrat:ital,wght@0,200;0,400;0,900;1,200;1,400;1,900&display=swap');

$font-montserrat: 'Montserrat', sans-serif;
$font-lato: 'Lato', sans-serif;

$white: #FFF;
$grey: #AAA;
$light-grey: #F2F2F2;
$dark-grey: #444;
$red: #CE0A0A;
$green: #31AA66;


