@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,700;1,300;1,500;1,700&display=swap');
$font-poppins: 'Poppins', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$white: #FFF;
$grey: #AAA;
$black: #000;
$light-grey: #F2F2F2;
$dark-grey: #444;
$red: #CE0A0A;
$green: #31AA66;
$pastel-green:#8DDCC1;
$pastel-red:#ffa9a9;
$pastel-beige: #FFD1BA;
$pastel-blue: #48acf0;
$pastel-violet: #B08BCC;

$mobile: 500px;
$tablet: 820px;
$pc: 1020px;

