@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

$font-poppins: 'Poppins', sans-serif;

$white: #FFF;
$black: #000;
$grey: #AAA;
$light-grey: #F2F2F2;
$dark-grey: #444;
$red: #CE0A0A;
$green: #31AA66;


